/* This css contains the styling specific to the 'normal mode'. (as opposite to the embedded mode) */
/* In embedded mode [1], this stylesheet won't be loaded. */

/* [1] The web client features an embedded mode in which the webclient */
/*     or a part of it can be started in any element of any webpage host. */
//顶部导航栏样式定制
//定义主题颜色
@charset "utf-8";
@mianColor:#D67911;
@mianColorLight:#ff9c21;
//定义默认字体颜色
@fontColor9:#999;
@fontColor4:#444;
@fontColor6:#666;
@hoverFontColor:#E85F2D;
@activeFontColor:#E85F2D;

//线性渐变函数2色
.linnerGradient2(@a,@b,@c){
    background-color: @c;
    background-image: -webkit-linear-gradient(top, @a, @b);
    background-image: -moz-linear-gradient(top, @a, @b);
    background-image: -ms-linear-gradient(top, @a, @b);
    background-image: -o-linear-gradient(top, @a, @b);
    background-image: linear-gradient(to bottom, @a, @b);
}
//线性渐变函数3色
.linnerGradient3(@a, @b, @c, @d){
    background-color: @d;
    background-image: -webkit-linear-gradient(left, @a, @b, @c);
    background-image: -moz-linear-gradient(left, @a, @b, @c);
    background-image: -ms-linear-gradient(left, @a, @b, @c);
    background-image: -o-linear-gradient(left, @a, @b, @c);
    background-image: linear-gradient(to right, @a, @b, @c);
}

body{
    nav.navbar{
        .linnerGradient2(#777,#444,#555);
        border:none;
        box-shadow: rgb(90, 90, 90) 0px 1px 3px 0px;
        .navbar-header{
            .navbar-toggle{
                border:none;
                background-color: transparent;
                &:hover span{
                    background-color: @mianColor;
                }
                &:focus span{
                    background-color: @mianColor;
                }
            }
        }
    }
    #oe_main_menu_navbar ul.nav{
        >li>a,li>button{
            color: #fff;
            font-size: 14px ;
            font-weight: bold;
            font-family: Helvetica,Arial,Microsoft Yahei,"微软雅黑",STXihei,"华文细黑",sans-serif;
            background-color: transparent;
            margin-top:0px;
            padding:12px 8px;
        }
        >li>a:hover,li>button:hover{
            color: @mianColor;
        }
        >li.active>a,li.active>button,li.open>a{
            color: @mianColor;
        }
        >li>ul.dropdown-menu{
            background-color: #f5f5f5;
            li{
                a,button{
                    padding:12px 8px;
                    font-size: 14px ;
                    font-weight: bold;
                    font-family: Helvetica,Arial,Microsoft Yahei,"微软雅黑",STXihei,"华文细黑",sans-serif;
                    background-color: transparent;
                    margin-top:0px;
                    padding:12px 8px;
                    &:hover{
                        color: @mianColor;
                    }
                }
            }
        }
    }
}
//页面搜索框的样式定制
body .openerp .oe_searchview {
    .oe_searchview_clear{
        right: 76px;
    }
    .oe_searchview_unfold_drawer{
        padding:3px 20px 0 4px;
        &::after{
            content: "高级搜索";
            color:@fontColor9;
            font-weight: bold;
        }
    }
}
//二级菜单的样式
.openerp {
    @media (min-width: 768px) {
         td.oe_leftbar{
            background-color: #F1EEE9;
            width: 255px;
            >div{
                width:255px;
                .oe_secondary_menu_section{
                    padding-left: 30px;
                }
                ul.nav>li a{
                    padding:6px 4px 2px 45px;
                }
            }
        }
    }
    //侧栏收缩按钮
    .oe_leftbar > div{
        .btn_hid{
            cursor: pointer;
            position: absolute;
            top:50%;right:0px;
            width:0px;height:0px;
            border:14px solid transparent;
            border-right-color: #ddd;
            &:hover{
                border-right-color: @mianColorLight;
            }
        }
        .btn_show{
            cursor: pointer;
            position: absolute;
            z-index: 500;
            top:50%;right:-28px;
            width:0px;height:0px;
            border:14px solid transparent;
            border-left-color: #ddd;
            &:hover{
                border-left-color: @mianColorLight;
            }
        }
    }
    td.oe_leftbar{
        background-color: #F1EEE9;
    }
    .oe_secondary_menu{
        .nav-pills li > a{
            font-size: 14px;
            color: #4C93CC;
            >span{
                border: 1px solid transparent;
                padding-top:2px;
                font-size: 1.1em;
            }
        }
        .nav-pills li:hover > a{
            .linnerGradient3(#F1EEE9, #fefefe, #F1EEE9, #fff);
            >span{
                color:@hoverFontColor;
                border-bottom: 1px solid @activeFontColor;
            }
        }
        .nav-pills li.active:hover >a{
            .linnerGradient3(#F1EEE9, #fefefe, #F1EEE9, #fff);
            >span{
                color:@hoverFontColor;
            }
        }
        .nav-pills li.active> a{
            .linnerGradient3(#F1EEE9, #fefefe, #F1EEE9, #fff);
            >span{
                color:@activeFontColor;
                font-weight: bold;
                border-bottom: 1px solid transparent;
                &::before{
                    content: "";
                    display: inline-block;
                    height: 1.3em;  width:3px;
                    position: absolute;
                    z-index: 500;
                    top:6px;left:10px;
                    @media (min-width: 768px) {
                        top:6px;left:31px;
                    }
                    background-color: @activeFontColor;
                }
            }
        }
        .oe_secondary_menu_section{
            cursor: pointer;
            margin-left: 0px;
            padding:8px;
            color:@fontColor6;
            font-size:1.1em;
            &::before{
                content: "";
                display: inline-block;
                width:12px;height:12px;
                position: relative;
                top:1px;
                background: url("../img/show.png") no-repeat;
            }
        }
        .oe_secondary_menu_section.show{
            &::before{
                content: "";
                display: inline-block;
                width:12px;height:12px;
                position: relative;
                top:1px;
                background: url("../img/hidden.png") no-repeat;
            }
        }
    }
}
//调整用户名的的问题
.navbar span.oe_topbar_name{
    line-height: 15px;
    position: relative;
    top: 3px;
}
//使用流程页面
body{
    div.discover{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1049;
        background-color: #000;
        opacity: .5
    }
    div.discover1{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1049;
        opacity: 0.2;
        background-color: #000;
    }
    div.tip{
        position: absolute;
        z-index: 1050;
        left: 0px;top: 0px;
        width: 177px;height:121px;
        padding:50px 13px 9px;
        font-size: 19px;
        cursor:pointer;
    }
}
//修改主题部分的背景图片
body {
    .openerp{
       .oe_application {
           .oe_form_sheetbg{
               background: url("../img/bgimg.png");
           }
       }
    }
}
//添加提示工具
body{
    .tipSelf{
        display: none;
        position: absolute;
        z-index: 1070;
        top: 118px;
        left: 362px;
        padding:5px 10px;
        color:#fff;
        font-weight: bold;
        font-family: Helvetica,Arial,Microsoft Yahei,"微软雅黑",STXihei,"华文细黑",sans-serif;
        background-color: #222;
        border-radius: 6px;
        span{
            display: inline-block;
            max-width: 250px;
            overflow:hidden;
            cursor: text;
        }
        b{
            display: inline-block;
            width: 16px;height:16px;
            position: absolute;
            right:-5px;top:-5px;
            border-radius: 50%;
            background-color: #e4393c;
            color: #fff;
            text-align: center;
            line-height: 16px;
            cursor: pointer;
        }
        i{
            position: absolute;
            z-index: 1071;
            display: inline-block;
            width:10px;height:10px;
            bottom: -4px;left: 20px;
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
             -o-transform:rotate(45deg);
            transform: rotateZ(45deg);
            background-color:  #222;
        }
    }
}

//重新定义登录页面样式
body{
    #wrapwrap{
        main{
            background-color:#4575C7;
            .oe_website_login_container{
                margin:60px auto;
                background-color: rgba(255,255,255,0.8);
                padding: 20px;
                border-radius: 6px;
            }
            #wrap{
                background-color: #fff;
            }
            >div.container{
                background-color: #fff;
            }
        }
        @media (min-width: 768px){
            main{
                background:url("../img/bgLogin.png") no-repeat 20% 50% #4575C7;
                .oe_website_login_container{
                    margin:60px 20% 60px 50%;
                }
            }
        }

    }
}

//添加快捷链接
body.bg{
    background: url("../img/bgimg.png");
}
body{
    div.openerp_webclient_container{
        -moz-transition: margin-top 0.25s linear;
        -webkit-transition: margin-top 0.25s linear;
        -o-transition: margin-top 0.25s linear;
        transition: margin-top 0.25s linear;
    }
    div.openerp_webclient_container.showShortcut{
        margin-top: 196px;
    }
    div.shortcut{
        font: 14px/1.5 Helvetica,Arial,Helvetica,Tahoma,sans-serif;
        position: absolute;
        width: 98%;
        height:300px;
        top: -60px;
        left: 50%;
        margin-left: -49%;
        padding: 130px 0 20px;
        background:url("../img/shortcutBg1.png") 0px 0px;
        z-index: 1000;
        -moz-transition: top 0.25s linear;
        -webkit-transition: top 0.25s linear;
        -o-transition: top 0.25s linear;
        transition: top 0.25s linear;
        div.toggleBtn{
            display: inline-block;
            width: 80px;height: 10px;
            position: absolute;
            left: 50%;bottom: -10px;
            margin-left: -40px;
            z-index: 1001;
            cursor: pointer;
            background: url("../img/shortcutBg1.png") no-repeat 0px -300px;
        }
        div.item{
            background-color: rgba(255,255,255,0.3);
            padding: 10px 12px;
            border-radius: 4px;
            width: 740px;
            height: 145px;
            left: 50%;
            margin-left: -370px;
            font-size: 14px;
            position: relative;
            color: #fff;
            h2{
                font-size: 15px;
                margin: 0px;
                padding: 0px;
                font-weight: bold;
            }
            span.selfSet{
                display: block;
                width: 54px;
                height: 26px;
                line-height: 26px;
                text-align: center;
                cursor: pointer;
                background-color: rgba(255,255,255,0.3);
                border-radius: 4px;
                position: absolute;
                right: 15px;
                top: 10px;
                font-size: 14px;
            }
            ul{
                width: 720px;
                margin-left: -30px;
                margin-top: 10px;
                list-style-type: none;
                li{
                    float: left;
                    width: 110px;
                    text-align: center;
                    a{
                        color: #fff;
                        text-decoration: none;
                        margin: 0;
                        padding: 0;
                        cursor: pointer;
                        &:hover{
                            color: #1dd9e2;
                        }
                        i.icon_cygn{
                            display: inline-block;
                            width: 71px;height: 71px;
                            background: url("../img/iconlist1.png") no-repeat -291px -76px;
                        }
                    }
                }
            }
        }
    }
    div.shortcut.hid{
        top:-252px;
        div.toggleBtn{
            background: url("../img/shortcutBg1.png") no-repeat -80px -300px;
        }
    }
    #dialogLink{
        div.modal-body{
            ul{
                width: 708px;
                margin-top: 10px;
                padding: 14px 0px 0px;
                overflow: hidden;
                background-color: #5BC0DE;
                list-style-type: none;
                li{
                    float: left;
                    width: 110px;
                    text-align: center;
                    position: relative;
                    a{
                        color: #333;
                        text-decoration: none;
                        margin: 0;
                        padding: 0;
                        cursor: pointer;
                        &:hover{
                            color: #fff;
                        }
                        i.icon_cygn{
                            display: inline-block;
                            width: 71px;height: 71px;
                            background: url("../img/iconlist1.png") no-repeat -291px -76px;
                        }
                        s{
                            display: inline-block;
                            position: absolute;
                            top:-4px;right:12px;
                            width: 17px;height: 17px;
                            background: url("../img/iconlist1.png") no-repeat -51px -38px;
                        }
                    }
                }
            }
            #selectedShortcut{
                height: 115px;
            }
            #unselectedShortcut{
                background-color: #ddd;
                li{
                    a{
                        s{
                            background-position: -51px -18px;
                        }
                    }
                }
            }
        }
    }
    .oe_view_manager_body{
        .oe_list_header_columns{
            th[data-id=case_oem_no]{
                width: 180px;
            }
        }
    }
}