@charset "utf-8";
/* This css contains the styling specific to the 'normal mode'. (as opposite to the embedded mode) */
/* In embedded mode [1], this stylesheet won't be loaded. */
/* [1] The web client features an embedded mode in which the webclient */
/*     or a part of it can be started in any element of any webpage host. */
body nav.navbar {
  background-color: #555555;
  background-image: -webkit-linear-gradient(top, #777777, #444444);
  background-image: -moz-linear-gradient(top, #777777, #444444);
  background-image: -ms-linear-gradient(top, #777777, #444444);
  background-image: -o-linear-gradient(top, #777777, #444444);
  background-image: linear-gradient(to bottom, #777777, #444444);
  border: none;
  box-shadow: #5a5a5a 0px 1px 3px 0px;
}
body nav.navbar .navbar-header .navbar-toggle {
  border: none;
  background-color: transparent;
}
body nav.navbar .navbar-header .navbar-toggle:hover span {
  background-color: #d67911;
}
body nav.navbar .navbar-header .navbar-toggle:focus span {
  background-color: #d67911;
}
body #oe_main_menu_navbar ul.nav > li > a,
body #oe_main_menu_navbar ul.nav li > button {
  color: #fff;
  font-size: 14px ;
  font-weight: bold;
  font-family: Helvetica, Arial, Microsoft Yahei, "微软雅黑", STXihei, "华文细黑", sans-serif;
  background-color: transparent;
  margin-top: 0px;
  padding: 12px 8px;
}
body #oe_main_menu_navbar ul.nav > li > a:hover,
body #oe_main_menu_navbar ul.nav li > button:hover {
  color: #d67911;
}
body #oe_main_menu_navbar ul.nav > li.active > a,
body #oe_main_menu_navbar ul.nav li.active > button,
body #oe_main_menu_navbar ul.nav li.open > a {
  color: #d67911;
}
body #oe_main_menu_navbar ul.nav > li > ul.dropdown-menu {
  background-color: #f5f5f5;
}
body #oe_main_menu_navbar ul.nav > li > ul.dropdown-menu li a,
body #oe_main_menu_navbar ul.nav > li > ul.dropdown-menu li button {
  font-size: 14px ;
  font-weight: bold;
  font-family: Helvetica, Arial, Microsoft Yahei, "微软雅黑", STXihei, "华文细黑", sans-serif;
  background-color: transparent;
  margin-top: 0px;
  padding: 12px 8px;
}
body #oe_main_menu_navbar ul.nav > li > ul.dropdown-menu li a:hover,
body #oe_main_menu_navbar ul.nav > li > ul.dropdown-menu li button:hover {
  color: #d67911;
}
body .openerp .oe_searchview .oe_searchview_clear {
  right: 76px;
}
body .openerp .oe_searchview .oe_searchview_unfold_drawer {
  padding: 3px 20px 0 4px;
}
body .openerp .oe_searchview .oe_searchview_unfold_drawer::after {
  content: "高级搜索";
  color: #999999;
  font-weight: bold;
}
@media (min-width: 768px) {
  .openerp td.oe_leftbar {
    background-color: #F1EEE9;
    width: 255px;
  }
  .openerp td.oe_leftbar > div {
    width: 255px;
  }
  .openerp td.oe_leftbar > div .oe_secondary_menu_section {
    padding-left: 30px;
  }
  .openerp td.oe_leftbar > div ul.nav > li a {
    padding: 6px 4px 2px 45px;
  }
}
.openerp .oe_leftbar > div .btn_hid {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 0px;
  height: 0px;
  border: 14px solid transparent;
  border-right-color: #ddd;
}
.openerp .oe_leftbar > div .btn_hid:hover {
  border-right-color: #ff9c21;
}
.openerp .oe_leftbar > div .btn_show {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  top: 50%;
  right: -28px;
  width: 0px;
  height: 0px;
  border: 14px solid transparent;
  border-left-color: #ddd;
}
.openerp .oe_leftbar > div .btn_show:hover {
  border-left-color: #ff9c21;
}
.openerp td.oe_leftbar {
  background-color: #F1EEE9;
}
.openerp .oe_secondary_menu .nav-pills li > a {
  font-size: 14px;
  color: #4C93CC;
}
.openerp .oe_secondary_menu .nav-pills li > a > span {
  border: 1px solid transparent;
  padding-top: 2px;
  font-size: 1.1em;
}
.openerp .oe_secondary_menu .nav-pills li:hover > a {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: -moz-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: -ms-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: -o-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: linear-gradient(to right, #f1eee9, #fefefe, #f1eee9);
}
.openerp .oe_secondary_menu .nav-pills li:hover > a > span {
  color: #e85f2d;
  border-bottom: 1px solid #e85f2d;
}
.openerp .oe_secondary_menu .nav-pills li.active:hover > a {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: -moz-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: -ms-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: -o-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: linear-gradient(to right, #f1eee9, #fefefe, #f1eee9);
}
.openerp .oe_secondary_menu .nav-pills li.active:hover > a > span {
  color: #e85f2d;
}
.openerp .oe_secondary_menu .nav-pills li.active > a {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: -moz-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: -ms-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: -o-linear-gradient(left, #f1eee9, #fefefe, #f1eee9);
  background-image: linear-gradient(to right, #f1eee9, #fefefe, #f1eee9);
}
.openerp .oe_secondary_menu .nav-pills li.active > a > span {
  color: #e85f2d;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}
.openerp .oe_secondary_menu .nav-pills li.active > a > span::before {
  content: "";
  display: inline-block;
  height: 1.3em;
  width: 3px;
  position: absolute;
  z-index: 500;
  top: 6px;
  left: 10px;
  background-color: #e85f2d;
}
@media (min-width: 768px) {
  .openerp .oe_secondary_menu .nav-pills li.active > a > span::before {
    top: 6px;
    left: 31px;
  }
}
.openerp .oe_secondary_menu .oe_secondary_menu_section {
  cursor: pointer;
  margin-left: 0px;
  padding: 8px;
  color: #666666;
  font-size: 1.1em;
}
.openerp .oe_secondary_menu .oe_secondary_menu_section::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  top: 1px;
  background: url("../img/show.png") no-repeat;
}
.openerp .oe_secondary_menu .oe_secondary_menu_section.show::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  top: 1px;
  background: url("../img/hidden.png") no-repeat;
}
.navbar span.oe_topbar_name {
  line-height: 15px;
  position: relative;
  top: 3px;
}
body div.discover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1049;
  background-color: #000;
  opacity: 0.5;
}
body div.discover1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1049;
  opacity: 0.2;
  background-color: #000;
}
body div.tip {
  position: absolute;
  z-index: 1050;
  left: 0px;
  top: 0px;
  width: 177px;
  height: 121px;
  padding: 50px 13px 9px;
  font-size: 19px;
  cursor: pointer;
}
body .openerp .oe_application .oe_form_sheetbg {
  background: url("../img/bgimg.png");
}
body .tipSelf {
  display: none;
  position: absolute;
  z-index: 1070;
  top: 118px;
  left: 362px;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
  font-family: Helvetica, Arial, Microsoft Yahei, "微软雅黑", STXihei, "华文细黑", sans-serif;
  background-color: #222;
  border-radius: 6px;
}
body .tipSelf span {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  cursor: text;
}
body .tipSelf b {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 50%;
  background-color: #e4393c;
  color: #fff;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
}
body .tipSelf i {
  position: absolute;
  z-index: 1071;
  display: inline-block;
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotateZ(45deg);
  background-color: #222;
}
body #wrapwrap main {
  background-color: #4575C7;
}
body #wrapwrap main .oe_website_login_container {
  margin: 60px auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 6px;
}
body #wrapwrap main #wrap {
  background-color: #fff;
}
body #wrapwrap main > div.container {
  background-color: #fff;
}
@media (min-width: 768px) {
  body #wrapwrap main {
    background: url("../img/bgLogin.png") no-repeat 20% 50% #4575c7;
  }
  body #wrapwrap main .oe_website_login_container {
    margin: 60px 20% 60px 50%;
  }
}
body.bg {
  background: url("../img/bgimg.png");
}
body div.openerp_webclient_container {
  -moz-transition: margin-top 0.25s linear;
  -webkit-transition: margin-top 0.25s linear;
  -o-transition: margin-top 0.25s linear;
  transition: margin-top 0.25s linear;
}
body div.openerp_webclient_container.showShortcut {
  margin-top: 196px;
}
body div.shortcut {
  font: 14px/1.5 Helvetica, Arial, Helvetica, Tahoma, sans-serif;
  position: absolute;
  width: 98%;
  height: 300px;
  top: -60px;
  left: 50%;
  margin-left: -49%;
  padding: 130px 0 20px;
  background: url("../img/shortcutBg1.png") 0px 0px;
  z-index: 1000;
  -moz-transition: top 0.25s linear;
  -webkit-transition: top 0.25s linear;
  -o-transition: top 0.25s linear;
  transition: top 0.25s linear;
}
body div.shortcut div.toggleBtn {
  display: inline-block;
  width: 80px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -40px;
  z-index: 1001;
  cursor: pointer;
  background: url("../img/shortcutBg1.png") no-repeat 0px -300px;
}
body div.shortcut div.item {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 12px;
  border-radius: 4px;
  width: 740px;
  height: 145px;
  left: 50%;
  margin-left: -370px;
  font-size: 14px;
  position: relative;
  color: #fff;
}
body div.shortcut div.item h2 {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
body div.shortcut div.item span.selfSet {
  display: block;
  width: 54px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 14px;
}
body div.shortcut div.item ul {
  width: 720px;
  margin-left: -30px;
  margin-top: 10px;
  list-style-type: none;
}
body div.shortcut div.item ul li {
  float: left;
  width: 110px;
  text-align: center;
}
body div.shortcut div.item ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
body div.shortcut div.item ul li a:hover {
  color: #1dd9e2;
}
body div.shortcut div.item ul li a i.icon_cygn {
  display: inline-block;
  width: 71px;
  height: 71px;
  background: url("../img/iconlist1.png") no-repeat -291px -76px;
}
body div.shortcut.hid {
  top: -252px;
}
body div.shortcut.hid div.toggleBtn {
  background: url("../img/shortcutBg1.png") no-repeat -80px -300px;
}
body #dialogLink div.modal-body ul {
  width: 708px;
  margin-top: 10px;
  padding: 14px 0px 0px;
  overflow: hidden;
  background-color: #5BC0DE;
  list-style-type: none;
}
body #dialogLink div.modal-body ul li {
  float: left;
  width: 110px;
  text-align: center;
  position: relative;
}
body #dialogLink div.modal-body ul li a {
  color: #333;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
body #dialogLink div.modal-body ul li a:hover {
  color: #fff;
}
body #dialogLink div.modal-body ul li a i.icon_cygn {
  display: inline-block;
  width: 71px;
  height: 71px;
  background: url("../img/iconlist1.png") no-repeat -291px -76px;
}
body #dialogLink div.modal-body ul li a s {
  display: inline-block;
  position: absolute;
  top: -4px;
  right: 12px;
  width: 17px;
  height: 17px;
  background: url("../img/iconlist1.png") no-repeat -51px -38px;
}
body #dialogLink div.modal-body #selectedShortcut {
  height: 115px;
}
body #dialogLink div.modal-body #unselectedShortcut {
  background-color: #ddd;
}
body #dialogLink div.modal-body #unselectedShortcut li a s {
  background-position: -51px -18px;
}
body .oe_view_manager_body .oe_list_header_columns th[data-id=case_oem_no] {
  width: 166px;
}
